* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:70vh;
  display:flex;
  justify-content:center;
  color:#10214e;
}

article {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, #1855fd 10%, #0ce752 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
}



h1 {
  margin:2rem 0 1rem;
  color: rgb(255, 255, 255);
}



div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-half article {
  display: flex;
  justify-content: space-around;
}

.right-half article img {
  width: 50%;
  max-width: 20rem;
}



p { 
  margin:0
}

article > p {
  padding:3rem 2rem;
  font-size: 32px;
  margin-top: 0;
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}



