* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:70vh;
  display:flex;
  justify-content:center;
  color:#10214e;
}

article {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, #1855fd 10%, #0ce752 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
}


div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-half article {
  display: flex;
  justify-content: space-around;
}

.right-half article img {
  width: 25%;
  height: 25%;
  max-width: 20rem;
}



p { 
  margin:0;
}

article > p  {
  padding:3rem 2rem;
  font-size: 28px;
  margin-top: 0;
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}


.collapsible {
  background-color: rgb(221, 25, 25);
  color: black;
  cursor: pointer;
  padding: 18px;
  margin: 0;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(22, 235, 193);
}

.content {
  display: none;
  padding: 2px;
  width: 70%;
}

ul {
  list-style: none;
  padding: 4px;
  white-space: nowrap;
}





