* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:70vh;
  display:flex;
  justify-content:center;
  color:#10214e;
}

article {
  width:50vw;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(150, 151, 151) 40%, #f52626 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  justify-content:flex-end;
  
}

h1 {
  margin:2rem 0 1rem;
  color: rgb(255, 255, 255);
}

button {
  border:none;
  position: absolute;
  right:1rem;
  top:1rem;
  width:2.5rem;
  height:2.5rem;
  transform: scale(.8);
  background: rgb(42, 235, 68);
  cursor: pointer;
  border-radius:50%;
  padding:.25rem;
  transition:.25s;
}

button:focus {
  outline:none;
  background:#202592;
}

button svg:nth-of-type(2) {
  opacity:0;
  transition-delay: 0ms;
}

.flex-container {
  display: right;
  flex-direction: column;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

p { 
  margin:0
}

article > p {
  padding:3rem 2rem;
  margin-top: 0;
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}

/* expand content */
body.expand {
  font-size:1.15em;
}

body.expand article {
  width:60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity:0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity:1;
  transition-delay:.25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width:15em;
}
